<phpunit bootstrap="Tests/boot.php">
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src/</directory>
        </whitelist>
    </filter>
    <testsuites>
        <testsuite name="Traitor">
            <directory>Tests</directory>
        </testsuite>
    </testsuites>
    <logging>
         <log type="coverage-clover" target="build/logs/clover.xml"/>
    </logging>
</phpunit>